*~
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.suo

# qt stuff
build-*/
*.pro.user

.mkdep-timestamp

/doc/html

Debug/
ipch/
Release/
